$def with (videos)


<table width="100%" border="1">
    <tr>
        <td>标题</td>
        <td>URL</td>
        <td>图片</td>
        <td>时长</td>
        <td>创建时间</td>
    </tr>
    $for video in videos:
    <tr>
        <td>$video.title</td>
        <td>$video.url</td>
        <td>
            $# <a href='$video.image' target='_blank'>
            $#    <img src='$video.image' heigh='60' width='60' />
            $# </a>
            $video.image
        </td>
        <td>$video.time</td>
        <td>$video.gmt_create</td>
    </tr>
</table>
