{% extends "layout.html"  %}

{% block title%}{{super()}}首页{% endblock%}

{% block pageHeader %}
<div class="page-header">
    <h1>我有我空间</h1>
</div>
{% endblock %}

{% block content %}

<div class="row">
	<div class="span12">
		<div class="row-fluid">
			<div class="span6">
				<h4>最近文章</h4>
				<ul class="unstyled">
					{% for article in articles %}
						<li>
							<a target="_blank" href="/article/article_detail?article_id={{article._id}}">{{article.article_title}} </a>  <span class="muted">（{{ article.published_time.strftime('%Y-%m-%d %H:%M:%S') }}）</span>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="span6">
				<h4>最近文章</h4>
			</div>
		</div>
		<hr>

		<div class="row-fluid">
			<div class="span6">
				<h4>常用链接</h4>
				<ul>
					<li><a target="_blank" href="http://webpy.org">web.py官网</a></li>
				</ul>
			</div>
			<div class="span6">
				<!-- 新浪微博：http://app.weibo.com/tool/ -->
				<iframe width="70%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=350&height=550&fansRow=2&ptype=1&speed=0&skin=2&isTitle=1&noborder=1&isWeibo=1&isFans=1&uid=1573059900&verifier=7c9f6081&dpc=1"></iframe>
			</div>
		</div>
		<hr>
		
	</div>
</div>




{% endblock %}