{% extends "layout.html"  %}

{% block title%}首页{% endblock%}

{% block content %}
我是首页

<!-- UY BEGIN -->
<!--
<div id="uyan_frame"></div>
<script type="text/javascript" id="UYScript" src="http://v1.uyan.cc/js/iframe.js?UYUserId=0" async=""></script>
-->
<!-- UY END -->


<!-- 新浪微博：http://app.weibo.com/tool/ -->
<iframe width="350" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=350&height=550&fansRow=2&ptype=1&speed=0&skin=2&isTitle=1&noborder=1&isWeibo=1&isFans=1&uid=1573059900&verifier=7c9f6081&dpc=1"></iframe>

{% endblock %}