<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title %}Who Am I - {% endblock %}</title>

    {% block style %}
    <!-- Le styles -->
    <link type="text/css" href="/static/third/jquery-ui-bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="/static/third/jquery-ui-bootstrap/css/font-awesome.min.css" rel="stylesheet" />
    <!--[if IE 7]>
    <link rel="stylesheet" href="/static/third/jquery-ui-bootstrap/css/font-awesome-ie7.min.css">
    <![endif]-->
    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="/static/third/jquery-ui-bootstrap/css/jquery.ui.1.10.0.ie.css"/>
    <![endif]-->

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <!--Theme-->
    <link href="http://cdn.wijmo.com/themes/rocket/jquery-wijmo.css" rel="stylesheet" type="text/css" />
    <!--Wijmo Widgets CSS-->
    <link href="http://cdn.wijmo.com/jquery.wijmo-pro.all.3.20131.4.min.css" rel="stylesheet" type="text/css" />
    <link type="text/css" href="/static/css/style.css" rel="stylesheet" />

    {% endblock %}

    {% block script %}
    <!--jQuery References-->
    <script src="/static/third/jquery/js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="/static/third/jquery/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/static/third/jquery-ui-bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <!--Wijmo Widgets JavaScript-->
    <script src="/static/third/wijmo/js/jquery.wijmo-open.all.3.20131.4.min.js" type="text/javascript"></script>
    <!-- 分页有修改1686行代码-->
    <script src="/static/third/wijmo/js/jquery.wijmo-pro.all.3.20131.4.js" type="text/javascript"></script>

    <script src="/static/js/base.js" type="text/javascript"></script>
    <script src="/static/js/menu.js" type="text/javascript"></script>

    
    {% endblock %}

    {% endblock %}
</head>

<body>
    {% block menu %}
        <a target="_blank" href="https://github.com/blankyin">
            <img alt="Fork me on GitHub" src="/static/images/forkme_right_red_aa0000.png" style="z-index:10; position: absolute; top: 0; right: 0; border: 0;">
        </a>
        {% include  "menu.html" %}
    {% endblock %}

    <div class="container"> 
        <div class="content">
            
        {% block pageHeader %}
        {% endblock %}

        {% block content %}
    	{% endblock %}
        </div>

        <footer>
            {% block footer %}
                <p>
                    &copy; 2013 Powered by <a target="_blank" href="http://weibo.com/skyin333">@blankyin</a>
                    {# 量子统计
                    <script type="text/javascript" src="http://js.tongji.linezing.com/3207580/tongji.js"></script>
                    <a href="http://www.linezing.com"></a>
                    #}

                    &nbsp;&nbsp;&nbsp;&nbsp;
                    {% if session.login == 1 %}
                    <a href="/auth/logout">注销</a>
                    {% else %}
                    <a href="/auth/login">登录</a>
                    {% endif %}
                </p>
            {% endblock %}  
        </footer>
    </div>

{% block script_end %}

{% endblock %}

</body>
</html>