{% extends "layout.html" %}

{% block title %}{{super()}}体育视频：{{sport_name}}{% endblock %}

{% block script %}
	{{ super() }}
	<script id="scriptInit" type="text/javascript">
		jQuery(document).ready(function () { 
			jQuery("#pager").wijpager({ 
				pageButtonCount: 10,
				pageCount: {{pages}}, 
				pageIndex: {{page}} - 1, 
				mode: "numeric",
				// firstPageText: '<a href="?page=1"></a>',
				// lastPageText:'<a href="?page=' + $pages + '"></a>',
				pageIndexChanging: function(e, args) {
					
				},
				 pageIndexChanged: function () {
			        // var pageIndex = jQuery("#pager").wijpager("option", "pageIndex");
			        // jQuery("#pages").wijwizard({ activeIndex: pageIndex });
			    }
			}); 
		}); 
	</script>
{% endblock %}

{% block content %}
<ul>
{% for video in videos %}
	<li>
		【第{{video.round}}轮】<a target="_blank" href='{{video.url}}'>{{video.title}}</a>
		&nbsp;&nbsp;&nbsp;{{video.time}}
		&nbsp;&nbsp;&nbsp;{{video.gmt_create}}
	</li>
{% endfor %}
</ul>

<div class="main demo"> 
    <div id="pager"> 
    </div> 
    <!-- End demo markup -->
    <div class="pager-options"> 
        <!-- Begin options markup -->
        <!-- End options markup -->
    </div> 
</div> 
{% endblock %}
